/* Index-page layout
   ========================================================================== */

.l-header
  width: 100%
  position: fixed
  top: 0
  z-index: 1

.xs-nav
  margin: 0 auto
  height: 4rem
  width: 90%
  display: flex
  align-items: center
  justify-content: space-between
  max-width: cal-rem(440px, $xs-font-size)

.xs-main
  margin: 0 auto
  padding-top: 7rem
  width: 90%
  max-width: cal-rem(440px, $xs-font-size)

.xs--none
  display: none !important

.xs-nav--dis
    display: inline-block !important

/* media query
   ========================================================================== */

@include xs-breakpoint
  html
    font-size: $sm-font-size
  
  .sm-main,
  .sm-nav
    width: 90%
    max-width: cal-rem(650px, $sm-font-size)
  
  .sm--none
    display: none !important
  
  .sm-nav--dis
    display: inline-block !important

@include sm-breakpoint
  html
    font-size: $md-font-size

  .md-main,
  .md-nav
    max-width: cal-rem(850px, $md-font-size)
    width: 90%

  .md--none
    display: none !important
  
  .md-nav--dis
    display: inline-block !important

@include md-breakpoint
  .lg--none
    display: none !important

  .lg-toc--dis
    display: block !important
    position: fixed
    top: 18%
    right: 5%
  
@include lg-breakpoint
  .xlg--none
    display: none !important
  
  .xlg-toc--dis
    display: block !important
    position: fixed
    top: 18%
    right: 3%


/* combine layout style names
   ========================================================================== */

.l-nav
  @extend .xs-nav
  @extend .sm-nav
  @extend .md-nav

.l-main
  @extend .xs-main
  @extend .sm-main
  @extend .md-main
