/* clear
   ========================================================================== */

@minxin clear-padding
  padding: 0

@mixin clear-list-style
  padding: 0
  list-style: none

@mixin make-color-link($link-color, $link-hover-color)
  color: $link-color
  text-decoration: none

  &:hover,
  &:active,
  &:focus
    color: $link-hover-color
    text-decoration: none
