/* Index-page layout
   ========================================================================== */

.l-header
  width: 100%
  position: fixed

.l-nav
  margin: 0 auto
  height: 6rem
  width: 80%
  max-width: 800px
  display: flex
  align-items: center
  justify-content: space-between

.l-main
  margin: 0 auto
  padding: 8em .5em
  width: 80%
  max-width: 800px
