/* Index-page layout
   ========================================================================== */

.l-header
  width: 100%
  position: fixed
  top: 0

.l-nav
  margin: 0 auto
  height: 4rem
  width: 90%
  display: flex
  align-items: center
  justify-content: space-between

.l-main
  margin: 0 auto
  padding-top: 7rem
  width: 90%
