/* Header
   ========================================================================== */

/**
 * Index page navigator
 */

.nav-link-list
  margin-bottom: 0
  font-size: 1rem


// theme-icon
.icon,
.theme-icon
  width:  1.5em
  height: 1.5em

// nav-button
.nav-button
  width:  1.5em
  height: 1.5em
  padding: 0
  margin: 0 .5em
  border: none
  background-color: transparent

  &__img
    @extend .nav-button
    margin: 0 auto


// mobile dropdown menu
.mobile-dropdown
  background: $night-background
  width: 100%
  position: absolute
  top: 4rem
  left: 0
  padding-bottom: .5em

  &__li
    @extend .li--nostyle
    padding: .5em 5%
  
  &__link
    @extend .link--night
    font-size: 1rem
    font-weight: 500


// for responsive

.nav__text-link--resp
  @extend .xs--none
  @extend .sm-nav--dis
  @extend .md-nav--dis
  padding: 1em

.nav--resp-always-dis
  @extend .xs-nav--dis
  @extend .sm-nav--dis
  @extend .md-nav--dis

.nav__dropdown-menu--resp
  @extend .xs-nav--dis
  @extend .sm--none
  @extend .md--none
